[Common]
mode = build

[Parser]
model_type = onnx
model_name = rwkv
detection_postprocess =
model_domain = llm
input_model = ./model.onnx
output_dir = ./build

[Optimizer]
# calibration_data = None
calibration_batch_size = 1
metric_batch_size = 1
output_dir = ./
dataset = numpydataset
save_statistic_info = True
cast_dtypes_for_lib = True
quantize_method_for_activation = per_tensor_asymmetric
quantize_method_for_weight = per_channel_symmetric_restricted_range

[GBuilder]
target = X2_1204MP3
outputs = ./rwkv.cix
profile = True
tiling = fps